#project_new{
    padding: 50px 0;
    background: #fff;
}
.project_new_wrapper_contant_head_box{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.project_new_wrapper_contant_head{
    font-size: 52px;
    font-weight: 700;
    color:#000;
    text-transform: capitalize;
    line-height: 150%;
}
.project_new_wrapper_contant_happy_icon{
    font-size: 52px;
    font-weight: 700;
    color: yellow;
}